# Outline

## Things to do 
1. Inspect data source:
    - what type of data is available (raw crypto data locally)
    - check out other data sources (source to stream online, look for API)
        a. Binance
        b. Cryptomarketcap
2. Logarithmic Regression Rainbow of Stable Coins:
    - to check support and resistance levels in the future
    - answer: when is the next big test of resistance and support
    - price if it moves bands
3. HODL wave
    - how many of stable coins are held for more than an n period (3 months, 6 months, 1 year, more than 1 year)
    - if 1 year is at top, bull market in the coming days (downward --> bull market underway)
    - HODL high? when? price?
    - cycle high? when? HODL %?
4.  200W Moving Average Multiple
    - What is it?
    - What multiple does bitcoin start to dip/rise in price
5. Bull Market Weekly Support
6. Google Searches? 
7. NLP: 
    - Reddit/twitter mentions for each coin
    - Sentiment analysis
8. Bollinger Bands and RSI
9. MVRV Z Score
10. Pi Indicator
11. Stock to Flow Ratio


Shit Coins
1. Check coinmarketcap
2. Holders list (Use pareto)
3. Liquidity Pool
4. Volume

What about September?
- Historically, what happened in the previous crypto winters?
- Do people actually sell before crypto winters? (HODL %)

In [1]:
import pandas as pd
import os
# import plotly
# import requests
# import tweepy
import streamlit as st

In [2]:
path = 'raw_data/'

In [3]:
os.listdir(path)

['Binance_ADAUSDT_d.csv',
 'Binance_BNBUSDT_d.csv',
 'Binance_BTCUSDT_d.csv',
 'Binance_ETHUSDT_d.csv',
 'Binance_LINKUSDT_d.csv',
 'Binance_LTCUSDT_d.csv',
 'Binance_TRXUSDT_d.csv',
 'Binance_XMRUSDT_d.csv',
 'Binance_XRPUSDT_d.csv']

In [4]:
ada_usdt = pd.read_csv(path+'Binance_ADAUSDT_d.csv', header = 1, parse_dates = ['unix', 'date'], index_col = 'date')

In [5]:
ada_usdt.head()

,unix,symbol,open,high,low,close,Volume ADA,Volume USDT,tradecount
date,,,,,,,,,
2021-04-30,1619740800000,ADA/USDT,1.3066,1.3080,1.3015,1.3068,1.657076e+06,2.161296e+06,3684
2021-04-29,1619654400000,ADA/USDT,1.3373,1.4117,1.2661,1.3063,5.785297e+08,7.772462e+08,1273495
2021-04-28,1619568000000,ADA/USDT,1.3063,1.3488,1.2326,1.3379,3.885986e+08,5.054263e+08,690474
2021-04-27,1619481600000,ADA/USDT,1.2377,1.3333,1.2232,1.3063,3.929790e+08,5.049181e+08,760259
2021-04-26,1619395200000,ADA/USDT,1.0910,1.2509,1.0793,1.2375,4.733699e+08,5.687147e+08,773997

In [39]:
per_cap_energy_use = pd.read_csv(r'trying-to-crypto\per-capita-energy-use.csv')
per_cap_energy_use = per_cap_energy_use[per_cap_energy_use['Year'] == 2018].set_index('Entity')
per_cap_energy_use = per_cap_energy_use[['Year', 'Energy consumption per capita (kWh)']]
per_cap_energy_use = per_cap_energy_use.loc[["China", "United States", "India", "Japan", "Russia", "South Korea", "Canada", "Brazil", "Germany", "France", "United Kingdom", "Italy", "Philippines"]]

In [40]:
per_cap_energy_use.head()

               Year  Energy consumption per capita (kWh)
Entity
China          2018                            26416.955
United States  2018                            81188.359
India          2018                             6838.842
Japan          2018                            41142.951
Russia         2018                            57252.662