# Stocktwits API data

In [1]:
import requests
import pandas as pd

In [2]:
r = requests.get('https://api.stocktwits.com/api/2/streams/symbol/AAPL.json')

In [3]:
data =  r.json()

In [6]:
# data['messages']

In [22]:
dates = [message['created_at'] for message in data['messages']]
users = [message['user']['username'] for message in data['messages']]
tweet_body = [message['body'] for message in data['messages']]

tweets_df = pd.DataFrame({"Tweeted on": dates, "Usernames": users, "Tweet": tweet_body})

In [23]:
tweets_df.head()

,Tweeted on,Usernames,Tweet
0,2021-05-14T12:23:52Z,TheSlimTrader,$AAPL picked up $127 calls for today around 2p...
1,2021-05-14T12:22:47Z,maximumprofits,$AAPL we hit a bottom. Watch and learn.
2,2021-05-14T12:21:52Z,Bee4ev,$CCIV It&#39;s possible you could find an $AA...
3,2021-05-14T12:19:30Z,nethawk,$AAPL üçèüçè‚úÖ‚úÖü§ûüèΩü§ûüèΩ?????
4,2021-05-14T12:18:57Z,SirPedro,$AAPL What can I say?